/* * {
    margin: 0;
    padding: 0;
} */

body {
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
}

/* main {
    width: 1020px;
    margin: auto;
} */

article {
    /* border-radius: 10px; */

    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
}

section h2 {
    /* border-radius: 10px 10px 0 0; */
    /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
}

.porto img {}


/* section * {
    padding: 0 5px;
} */

/* ul>li {
    list-style-type: none;
} */